.article-block__header {
   margin-bottom: 10px;
}

.article-block__text {
   margin-bottom: 20px;
   line-height: 22px;
}

.article-block__list-header {
   margin-bottom: 20px;
}

.article-block__item-text {
   display: block;
}

.article-block__list {
   display: flex;
   flex-direction: column;
}

.article-block__item {
   position: relative;
   padding-left: 30px;
   margin-bottom: 20px;
   align-items: top;

   &::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      background-color: $green;
      border-radius: 3px;
      top: 3px;
      left: -10px;
   }
}

.article-block__item--tick::before {
   position: absolute;
   content: "";
   width: 30px;
   height: 30px;
   background-image: url("../img/icon-tick.svg");
   z-index: 10;
   top: 5px;
   left: -10px;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 20px;
}

@media (min-width: $desktop-width) {
   .article-block {
      margin-bottom: 40px;
   }

   .article-block__inner {
      padding: 0 50px;
   }

   .article-block__text {
      text-align: justify;
      line-height: 27px;
      margin-bottom: 30px;
   }

   .article-block__header {
      text-align: center;
      color: $green;
      line-height: 37px;
      margin-bottom: 30px;
   }

   .article-block__list-header {
      font-size: 25px;
      line-height: 37px;
      text-align: center;
      font-weight: 600;
      margin-bottom: 40px;
   }

   .article-block__item-text {
      line-height: 37px;
      font-size: 18px;
   }

   .article-block__item {
      margin-left: 50px;
   }
}
