.features__list {
   margin-bottom: 40px;
}

.features__header {
   font-size: 25px;
   color: $green;
   text-align: center;
   line-height: 37px;
   margin-bottom: 30px;
}

.features__text {
   line-height: 27px;
   text-align: justify;
   margin-bottom: 20px;
}

@media (min-width: $desktop-width) {
   .features__wrapper {
      padding-left: 40px;
      padding-right: 40px;
   }

   .features__header {
      font-size: 30px;
   }
}
