@media (min-width: $tablet-width) {
   .main-nav {
      display: block;
   }

   .main-nav__list {
      display: flex;
      justify-content: space-between;
   }

   .main-nav__toggle {
      display: none;
   }

   .main-nav__link {
      font-size: 14px;
      color: $white;
      text-transform: uppercase;
      font-weight: 600;

      &:hover {
         color: $green;
      }

      &:active {
         color: $green;
      }
   }

   .main-nav__toggle {
      display: none;
   }
}
