.navigation__top {
   display: none;
}

.navigation__bottom {
   display: none;
}

@media (min-width: $tablet-width) {
   .navigation__wrapper {
      display: flex;
      flex-direction: column;
   }

   .navigation__top {
      display: flex;
      border-bottom: 1px solid $grey;
      justify-content: space-between;
   }

   .navigation__bottom {
      display: block;
      padding-top: 20px;
      margin-left: 45px;
   }

   .navigation__tel-button {
      position: relative;
      color: $white;

      &::before {
         position: absolute;
         content: "";
         background-image: url("../img/tel.svg");
         background-repeat: no-repeat;
         width: 30px;
         height: 30px;
         bottom: 5px;
         left: -40px;
      }
   }
}
