.navigation__top {
   display: none;
}

/*.navigation__bottom {
   display: flex;
   flex-direction: column;
}*/

@media (min-width: $desktop-width) {
   .navigation__top {
      display: flex;
      border-bottom: 1px solid $grey;
      justify-content: space-between;
   }

   .navigation {
      width: 980px;
      padding-top: 40px;
   }

   .navigation__wrapper {
      display: flex;
      flex-direction: column;
   }

   .navigation__bottom {
      display: flex;
      padding-top: 20px;
   }

   .navigation__tel-button {
      color: $white;
   }
}
