//шрифт
$first-font: "Open Sans", sans-serif;
$font-size: 16px;
$font-weight: 400;

//цвета
$white: #ffffff;
$grey: #8e9dae;
$green: #79b433;
$dark: #111111;

//размер
$tablet-width: 768px;
$desktop-width: 1220px;
$mobile-width-only: 767px;
